h2 {
    border: 1px dashed black;
    width: 10%;
}
img {
    border: 1px solid whitesmoke;
    box-shadow: 5px 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}