* {
    box-sizing: border-box;
  }

  html {
    position: relative;
    min-height: 100%;
  }

 html body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.6rem;
    height: 100%;
    background-image: url("../images/gun_metal.png");
    background-repeat: repeat;
    overflow: auto;
  }

  h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
  }

  
#heading-name {
  padding-top: 20px;
}
.heads {
  font-family: 'Wendy One', sans-serif;
  letter-spacing: 2px;
}
  /* .navheight {
      height: 70px;
  }*/

  #about-vid {
    font-size: 12px;
  }
  #mainHeader {
    height: 100%;
    font-weight: bold;
    color: white;
    background-color: #4aaaa5;
  }

  /* .mainHeader h1 {
    font-size: 24px;
    font-weight: bold;
  }  */

  .contentHeading {
    font-size: 32px;
    padding-bottom: 20px;
  }
  #content-body {
    clear: both;
  }

  .imageDim {
    max-width: 360px;
    max-height: 240px;
  }
  .card-img-top {
    max-width: 360px;
    max-height: 240px;
    object-fit: cover;
  }
  /* .card-deck {
    margin-left: 13%;
  } */
  #push {
      margin-top: 70px;
  }

  .card-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .widgetPic {
    margin-top: 110px;
  }

  #push {
    margin-bottom: 100px;
  }

  
  #contact-cont {
    
    margin-top: 40px;
  }
  
  footer {
    color: white;
  }
  footer.custBorder{
    border-top: 8px solid red;
  }

  #index-cont{
    box-shadow: 3px 3px 3px red;
  }

  #contact-cont {
    box-shadow: 3px 3px 3px red;
  }
  .text {
    line-height: .5rem;
    
  }